[Desktop Entry]
Version=1.0
Type=Link
Name=.DS_Store
Comment=
Icon=user-bookmarks
URL=https://github.com/alura-cursos/flashcard/blob/aula_10/assets/img/.DS_Store
